body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#converterBody {
	margin: 1rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 500px) {
  #converterBody {
    grid-template-columns: 1fr;
  }
}

.unitSwapButton {
	padding-left: 190px; /* some magic number */
	width: fit-content;
	cursor: pointer;
}

@media only screen and (max-width: 275px) {
	.unitSwapButton {
		padding-left: 0px;
	}
}

.error {
	color:red;
}